



<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>

<p>Customers</p>
<a href="/menuCheckout">View Menu for Poke and the Rock</a>

<br>
<br>
<br>

<p>PayPal Merchants</p>
<a href="/merchantDashboard">Sign Up with PayPal</a>

<br>
<br>

<p>Stripe Merchants</p>
<a href="/stripeMerchantSignUp">Sign Up with Stripe</a>

<br>
<br>

<p>Square Merchants</p>
<a href="/integrateSquare">Integrate your Square Account!</a>