<!-- Menu section -->
<h1>Menu</h1>
<div class='item' id='taco'>
  <p>Salmon Poke Bowl = $10.00 <button id="addBtn" type="btn">Add</button></p>
</div>

<br>
<br>
<p>---------------------</p>

<!-- Check out section -->
<h1>Check Out</h1>
<div>
  <p>Salmon Poke Bowl Quantity: <span id="qty">0</span></p>
  <p>Total: $<span id="total">0</span></p>
  <a href={{url}}>Click to pay</a>
</div>



<!-- Stripe integration -->

<script>

  
</script>